@font-face {
  font-family: 'TTNorms';
  font-weight: 100;
  font-style: italic;
  src: url('/assets/fonts/TT-Norms-Thin-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'TTNorms';
  font-weight: 100;
  font-style: normal;
  src: url('/assets/fonts/TT-Norms-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'TTNorms';
  font-weight: 300;
  font-style: italic;
  src: url('/assets/fonts/TT-Norms-Light-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'TTNorms';
  font-weight: 300;
  font-style: normal;
  src: url('/assets/fonts/TT-Norms-Light.otf') format('opentype');
}

@font-face {
  font-family: 'TTNorms';
  font-weight: 500;
  font-style: italic;
  src: url('/assets/fonts/TT-Norms-Medium-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'TTNorms';
  font-weight: 500;
  font-style: normal;
  src: url('/assets/fonts/TT-Norms-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'TTNorms';
  font-weight: 700;
  font-style: italic;
  src: url('/assets/fonts/TT-Norms-Bold-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'TTNorms';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/fonts/TT-Norms-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'TTNorms';
  font-weight: 900;
  font-style: italic;
  src: url('/assets/fonts/TT-Norms-Black-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'TTNorms';
  font-weight: 900;
  font-style: normal;
  src: url('/assets/fonts/TT-Norms-Black.otf') format('opentype');
}
