// SVG use based icon handling

.icon {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 64px;
  overflow: hidden;

  &:hover {
    color: inherit;
  }

  &__wrapper {
    display: block;
    width: 100%;
    height: 100%;
  }

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    fill: currentColor;
  }

  use {
    pointer-events: none;
  }

}
