extends ../overlay.pug

block vars
    - overlayName = 'impressum'

block content
    .overlay__head
        .overlay__title Impresszum
        .overlay__close(data-overlay-close=overlayName)
    .overlay__body 
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi-
        | dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita-
        | tion ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit
        | amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        | aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing
        | elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        | minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos-
        | trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum
        | dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        | dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        | nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipi-
        | scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        | minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos-
        | trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum
        | dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        | dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        | nisi ut aliquip ex ea commodo consequat.