mixin slider(start, end, name)
    .slider(data-slider=name)
        .slider__items
            .slider__item
            .slider__item
            .slider__item
            .slider__item
            .slider__item
            .slider__item
            .slider__item
            .slider__item
            .slider__item
            .slider__item
            .slider__item
            .slider__item
            .slider__item
            .slider__item
            .slider__item
            .slider__item
            .slider__item
            .slider__item
            .slider__item
        .slider__control(data-slider-control)
        .slider__dates
            .slider__date=start
            .slider__date=end